<h1><%= @event.title %></h1>
<p>
  <%= @event.description %>
  <span><%= @event.created_at %></span>
</p>
<% if user_signed_in? %>
  <% if @event.members.count > 0 && @event.members.map{ |l| l[:status] == 1 } %>
    <p class="alert alert-success"><%= t".attendance_message" %></p>
  <% else %>
    <%= form_for([@event, @member]) do |f| %>
      <p>
        <%= f.hidden_field :event_id %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :status, value: 1 %>
        <%= button_tag t(".attendance"), class: "btn btn-block btn-lg btn-primary", type: "submit" %>          aaa
      </p>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, class: "btn btn-block btn-lg btn-primary" do %>
    <%= t".login_and_attend" %>
  <% end %>
<% end %>
<h3><%= t".attendances" %>（<%= @event.members.count if @member.present? %>）</h3>
<ul class="event-attendance-lists">
  <% @event.members.each do |e| %>
    <li class="event-attendance-item">
      <%= e.user.profile.name %>
    </li>
  <% end %>
</ul>
<h3><%= t".comment" %></h3>
<ul class="event-items">
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
</ul>