<h1><%= @event.title %></h1>
<p>
  <%= @event.description %>
  <span><%= @event.created_at %></span>
</p>
<% if user_signed_in? %>
  <% if @event.members.count > 0 && @event.members.map{ |l| l[:status] == 1 } %>
    <p class="alert alert-success"><%= t".attendance_message" %></p>
  <% else %>
    <%= form_for([@event, @member], remote: true) do |f| %>
      <p>
        <%= f.hidden_field :event_id %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :status, value: 1 %>
        <%= button_tag t(".attendance"), class: "btn btn-block btn-lg btn-primary", type: "submit", disable_with: "Sending..." %>
      </p>
    <% end %>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, class: "btn btn-block btn-lg btn-primary" do %>
    <%= t".login_and_attend" %>
  <% end %>
<% end %>
<section class="members">
  <h3><%= t".attend_members" %>（<span class="js-members__count_area"><%= @event.members.count if @member.present? %>）</h3>
  <ul class="members-lists">
    <% @event.members.each do |e| %>
      <li class="members-item">
        <%= e.user.profile.name %>
      </li>
    <% end %>
  </ul>
</section>
<h3><%= t".comment" %></h3>
<ul class="event-items">
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
  <li class="event-item"><span class="text">イベント楽しみです</span><span class="fullname">ぷぎえもん</span></li>
</ul>