<%= form_for @project do |f| %>
  <p> 
    <%= f.label :title, t(".title") %><Br>
    <%= f.text_field :title %>
    <% @project.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </p>
  <p> 
    <%= f.submit %>
  </p>
<% end %>

