<h1><%= @project.title %></h1>

<ul>
  <% @project.tasks.each do |task|%>
    <li>
      <%= check_box_tag "", "", task.done, {'data-toggle-path' => toggle_project_task_path(project_id: @project.id, id: task.id) } %>
      <%= task.title %>
      <%= link_to "[Delete]", project_task_path(task.project_id, task.id), method: :delete, data: { confirm: "are you sure?"} %>
    </li>
  <% end %>
  <li>
    <%= form_for [@project, @project.tasks.build] do |f| %>
      <%= f.text_field :title %>
      <%= f.submit %>
    <% end %>
  </li>
</ul>
<script>
$(function(){
  $("input[type=checkbox]").click(function(){
    $.post($(this).data('toggle-path'));
  });
</script>
