<header></header>
<section>
  <header>
    <h2><%= current_user.profile.name %></h2>
  </header>
  <article></article>
</section>
<article id="mypage">
  <h1><%= t".title1" %></h1>
  <div>
    <% if @owner_events.count > 0 %>
      <ul>
        <% @owner_events.each_with_index do |event| %>
          <li class="event-list">
            <%= link_to event_path(event), class: "event-link" do %>
              <span class="event-post-date pull-right">
                <%= event.created_at %>
              </span>
              <span class="event-post-content">
                <%= event.description %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to t("communities.index.title"), communities_path %> /
    <%= link_to t("events.index.title"), events_path %>
  </div>
</article>