<header>
  <h1></h1>
</header>
<article>
  <header>
    <h1><%= current_user.profile.name %><%= t".mypage" %></h1>
  </header>
</article>
<article id="mypage">
  <h1><%= t".event_past" %></h1>
  <%= render partial: 'share/timeline' %>
  <%= link_to t("communities.index.title"), communities_path %> /
  <%= link_to t("events.index.title"), events_path %>
</article>