<header>
  <h1></h1>
</header>
<article>
  <header>
    <h1><%= current_user.profile.name %><%= t".mypage" %></h1>
  </header>
</article>
<article id="mypage">
  <h1><%= t".event_past" %></h1>
    <div class="timeline">
      <% if @events.count > 0 %>
        <% @events.each_with_index do |event| %>
          <div class="timeline-item">
            <span class="timeline-item__icon">(╹◡╹)</span>
            <span class="timeline-item__block">
              <span class="timeline-item__arrow"></span>
              <%= link_to event_path(event), class: 'event-link' do %>
                <span class="timeline-item__title">
                  <%= event.title %>
                </span>
                <span class="timeline-item__date">
                  <%= event.created_at %>
                </span>
                <span class="timeline-item__text">
                  <%= event.description %>
                </span>
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to t("communities.index.title"), communities_path %> /
    <%= link_to t("events.index.title"), events_path %>
</article>